:root {
	--ខេលេសៃ: #000;
	--ខេលេសៃច្ហិ: #000000c0;
	
	--ជាងាធី: #181818;
	--ពិសាធី: #282828;
	--តិជាធី: #383838;
	--តាវាធី: #484848;
	--ព៏ធី: #585858;

	--ជាងាធីច្ហិ: #181818c0;
	--ពិសាធីច្ហិ: #282828c0;

	--តិជាធី២អុមា: #404040;
	--តាវាធី២អុមា: #505050;

	--កាន្តុនី: #bdbdbd;

	--កេភ: #fff;
	--កេភ២: #c4c4c4;

	--អិត្ផេពឺ: 32px 16px;
	--អិត្ផេពឺចិ: 28px 12px;
	--អិត្ផេ: 24px 8px;
	--អិត្ផេចិ: 20px 4px;
	--អិត្ផេមិ: 16px 8px;
	--អិត្ផេមិចិ: 12px 4px;
}@media (prefers-color-scheme: light) {
	:root {
		--ខេលេសៃ: #fff;
		--ខេលេសៃច្ហិ: #ffffffc0;
	
		--ជាងាធី: #f4f4f4;
		--ពិសាធី: #e4e4e4;
		--តិជាធី: #d4d4d4;
		--តាវាធី: #c4c4c4;
		--ព៏ធី: #b4b4b4;
	
		--ជាងាធីច្ហិ: #f4f4f4c0;
		--ពិសាធីច្ហិ: #e4e4e4c0;
	
		--តិជាធី២អុមា: #cccccc;
		--តាវាធី២អុមា: #bcbcbc;

		--កាន្តុនី: #424242;

		--កេភ: #000;
		--កេភ២: highlight;
	}
}

body {
	background-color: var(--ខេលេសៃ);
	color: var(--កេភ);
}
.ml-3 {
	margin-left: 0 !important
}
.px-3 {
	padding: 0 !important;
}

/* j͑ʃɜ ſɭ,ᴜ */
#repository-container-header {
  	background-color: transparent !important;
	margin: 0 16px;
	padding-top: 0 !important;
}
.Header-old, .color-bg-subtle, .bgColor-muted {
	background-color: transparent !important;
}
.f4.mb-3 {
  	background-color: var(--ជាងាធី);
  	border-radius: var(--អិត្ផេ);
  	border: 1px solid var(--ពិសាធី);
  	padding: 16px;
}
.UnderlineNav {
	background-color: var(--ជាងាធី);
  	border-radius: var(--អិត្ផេមិ);
  	border: 1px solid var(--ពិសាធី);
  	margin-top: 12px;
}
.UnderlineNav-item.selected::after, .UnderlineNav-item[aria-current]:not([aria-current="false"])::after, .UnderlineNav-item[role="tab"][aria-selected="true"]::after {
	border-radius: 65536px;
  	height: 3px;
  	margin: 0px -12px 6px 0px;
  	width: 32px;
  	background-color: var(--កេភ);
}
.mr-lg-3.color-fg-inherit.flex-order-2 {
	width: 0;
}

/* j͑ʃɜ j͐ʃƨɹ */
.izjvBm {
	margin-inline: 16px !important;
}

/* ſ̀ȷᴜ */
.etbdbe, .position-relative.js-check-all-container, .timeline-comment {
	background-color: var(--ជាងាធី);
  	border-radius: var(--អិត្ផេ);
  	border: 1px solid var(--ពិសាធី);
  	padding: 16px 16px 8px;
  	margin-bottom: 12px;
}
.iXWA-dl, .cAQuiW {
	background-color: var(--ជាងាធី);
  	border-radius: var(--អិត្ផេ);
 	border: 1px solid var(--ពិសាធី);
	border-spacing: 8px;
}
.react-directory-row td {
	background-color: var(--ពិសាធី) !important;
  	border: 1px solid var(--តិជាធី) !important;
  	border-radius: var(--អិត្ផេមិ) !important;
}
.hjyGFR, .timeline-comment-header {
	background-color: transparent;
	border: none !important;
}
.Box {
	background-color: var(--ជាងាធី);
  	padding: 16px;
  	margin: 12px 16px;
  	border-radius: var(--អិត្ផេ);
  	border: 1px solid var(--ពិសាធី);
}
.Box--condensed {
  	background-color: var(--ពិសាធី);
  	padding: 16px;
  	margin: 0;
  	border-radius: var(--អិត្ផេចិ);
  	border: 1px solid var(--តិជាធី);
}
.Box-row {
	background-color: var(--ពិសាធី);
  	margin: 12px 0 !important;
  	border-radius: var(--អិត្ផេចិ) !important;
  	border: 1px solid var(--តិជាធី) !important;
}
.table-list-header {
	background-color: transparent !important;
  	border: none !important;
  	margin: 0 !important;
}
.border-right.border-bottom.border-left.js-navigation-container.js-active-navigation-container.js-milestone-issues-container {
	border: none !important;
}
.comment-body {
	background-color: var(--ពិសាធី);
  	padding: 16px;
  	border-radius: var(--អិត្ផេចិ);
  	border: 1px solid var(--តិជាធី);
  	margin-block: 12px;
}

/* ſןɔ˞ᴜƴ */
.eChYOE {
	margin: 0 !important;
  	max-width: -moz-available !important;
	background-color: var(--ជាងាធី);
  	border-radius: var(--អិត្ផេ);
  	border: 1px solid var(--ពិសាធី);
}
.jEOdLx {
	background-color: transparent;
  	border: none;
	backdrop-filter: blur(32px);
	border-radius: var(--អិត្ផេចិ);
  	margin: 4px;
}
.bJMeLZ {
	background-color: var(--ពិសាធី);
  	border-radius: var(--អិត្ផេចិ);
	border: 1px solid var(--តិជាធី);
  	margin: 8px;
  	padding: 24px;
}
.markdown-body img {
	background-color: transparent;
}
.dmNiev::after {
	border-radius: 65536px;
  	height: 3px;
  	margin: 0px -8px 6px 0px;
  	width: 32px;
  	background-color: var(--កេភ);
}

.about-margin {
	max-width: -moz-available;
    	margin: 16px;
    	width: calc(100% - 32px);
}
.BorderGrid-cell {
	background-color: var(--ជាងាធី);
  	border-radius: var(--អិត្ផេ);
  	border: 1px solid var(--ពិសាធី);
  	padding: 16px;
}
.BorderGrid {
	background-color: var(--ជាងាធី);
  	border-radius: var(--អិត្ផេ);
  	border: 1px solid var(--ពិសាធី);
  	border-collapse: unset !important;
}


/* ſɟᴜ ſᶘɹ }ʃᴜ */
.btn {
	background-color: var(--ជាងាធី);
  	border-radius: var(--អិត្ផេមិ);
  	border: 1px solid var(--ពិសាធី);
  	padding: 8px !important;
  	color: var(--កេភ);
}
.BtnGroup-item:first-child {
	border-radius: 16px 0px 0px 8px !important;
}
.BtnGroup-item:last-child {
  	background-color: var(--ជាងាធី);
	border-radius: 0px 8px 16px 0px !important;
  	border: 1px solid var(--ពិសាធី);
    	border-right-width: 1px;
}
.Button, .dMUxwi, .dxCzas, .d-inline-block.d-lg-none.flex-order-1.f5.no-underline.border.color-border-default.rounded-2.px-2.py-1.color-fg-inherit {
	background-color: var(--ពិសាធី) !important;
  	border-radius: var(--អិត្ផេមិចិ) !important;
  	border: 1px solid var(--តិជាធី) !important;
  	padding: 8px !important;
  	fill: var(--កេភ);
}
.kHdfWW {
	border-radius: var(--អិត្ផេមិចិ) !important;
}
.pr-3 {
	padding-right: 24px !important;
}
.HeaderMenu-link {
	color: var(--កេភ២);
  	background-color: var(--ពិសាធី) !important;
  	border-radius: var(--អិត្ផេមិចិ) !important;
  	border: 1px solid var(--តិជាធី) !important;
  	padding: 8px !important;
  	margin-block: 8px;
	margin-inline: 4px;
}
.HeaderMenu--logged-out .search-input-container {
	color: var(--កេភ);
    background-color: var(--ពិសាធី) !important;
    border-radius: var(--អិត្ផេមិចិ) !important;
    border: 1px solid var(--តិជាធី) !important;
}
.subnav-item.selected, .subnav-item[aria-selected="true"], .subnav-item[aria-current]:not([aria-current="false"]) {
	border-radius: var(--អិត្ផេមិ);
  	padding: 8px !important;
}
.subnav-item:first-child {
	background-color: var(--ជាងាធី);
  	border-radius: var(--អិត្ផេមិ);
  	border: 1px solid var(--ពិសាធី);
  	padding: 8px !important;
  	color: var(--កេភ);
 	 margin-right: 8px;
}

button:hover {
	background-color: var(--តិជាធី) !important;
  	border: 1px solid var(--តាវាធី) !important;
}

/* }ʃɹ ɭʃᴜ j͑ʃɔ */
.Overlay, .dtwzpR, .eTCwDn {
	background-color: var(--ជាងាធីច្ហិ);
  	border-radius: var(--អិត្ផេ);
  	border: 1px solid var(--ពិសាធី);
  	backdrop-filter: blur(32px);
}
.HeaderMenu--logged-out .header-menu-wrapper {
	background-color: var(--ជាងាធីច្ហិ);
 	border-radius: var(--អិត្ផេ) !important;
  	border: 1px solid var(--ពិសាធី);
  	backdrop-filter: blur(32px);
	margin: 12px 16px;
	width: -moz-available;
	padding-inline: 8px !important;
}