/* Header */
.viewer #viewerHeader {
	background-color: white;
    	border: none;
    	margin-inline: 8px;
}

/* Side */
.viewer #viewerContent #leftPane #eventTabs #eventTabControl .event-tab-header {
	margin: 8px;
	border-radius: 8px 4px;
}
.viewer #viewerContent #leftPane #eventTabs #eventTabPanes #contentsTabPane .index-event {
	margin: 8px;
	border-radius: 12px 4px;
}

/* Left Side Open */
.viewer #viewerContent #leftPane #eventTabs #eventTabPanes .event-tab-pane {
	background: #f0f0f0;
	border-radius: 24px 8px;
	height: -webkit-fill-available !important;
	margin: 8px 8px 8px 0px;
	width: auto !important;
}
.viewer #viewerContent #leftPane #eventTabs #eventTabPanes #contentsTabPane .index-event.highlighted {
	background-color: #e0e0e0 !important;
}

/* Search */
.viewer #viewerContent #leftPane #searchRegion {
	background-color: #f0f0f0;
	margin: 8px 8px 0px 8px;
	border-radius: 16px 8px;
}
.viewer #viewerContent #leftPane #searchRegion #searchInput {
	background-color: transparent;
}

/* Video Cotnrols */
.viewer #playControls #transportControls {
	background-color: #f0f0f0;
	margin-block: 8px;
	border-radius: 16px 8px;
}
.viewer #playControls #transportControls #positionControl #positionSlider.ui-corner-all {
	background-color: transparent;
}

/* Image */
.viewer .thumbnail-strip .thumbnail img {
	border-radius: 24px 8px;
	box-shadow: none;
}
.viewer .thumbnail-strip .thumbnail .thumbnail-highlight {
	border-radius: 8px;
    	margin-bottom: 8px;
    	height: 2px;
}
.viewer .thumbnail-strip {
	background-color: #f0f0f0;
    	height: auto;
    	border-radius: 24px 8px;
  	box-shadow: none;
}

/* Video */
.viewer #viewerContent #leftPane #primaryPlayer .letterbox {
	background-color: transparent;
}
.viewer #viewerContent .video-js {
	border-radius: 24px 8px;
}