/* Background */
md-content, md-content.md-primoExplore-theme, body {
	background-color: white;
}

/* Cards */
.prm-background-border, prm-search-result-list .results-header, .list-item-wrapper, .action-list-content md-divider, prm-search-bar .advanced-search-tabs, prm-atoz-search-bar .advanced-search-tabs, prm-browse-search-bar .advanced-search-tabs, prm-tags-search-bar .advanced-search-tabs, prm-search-bar .advanced-search-output md-card, prm-atoz-search-bar .advanced-search-output md-card, prm-browse-search-bar .advanced-search-output md-card, prm-tags-search-bar .advanced-search-output md-card, md-grid-tile md-list md-list-item, md-grid-tile .tile-content md-list-item, .tiles-grid-tile md-list md-list-item, .tiles-grid-tile .tile-content md-list-item, md-grid-tile md-list md-divider, md-grid-tile .tile-content md-divider, .tiles-grid-tile md-list md-divider, .tiles-grid-tile .tile-content md-divider {
	background-color: #f0f0f0;
    	border-radius: 24px 8px;
    	margin: 4px;
    	padding: 8px !important;
}
prm-brief-result-container .result-item-text {
	background-color: #e0e0e0;
    	border-radius: 20px 4px;
    	margin-left: 8px;
    	padding: 16px;
}
prm-brief-result-container .list-item-primary-content {
	padding: 0;
}
prm-search-result-thumbnail-container img[src*=http] {
	border-radius: 20px 4px;
}
prm-search-result-list .pages-separated-with-gaps .results-title:not(.results-title-favorites) {
	background-color: #f0f0f0c0;
    	border-radius: 24px 8px;
    	padding: 8px !important;
	backdrop-filter: blur(32px);
    	margin-top: 16px; 
}

/* Other Card */
prm-full-view prm-brief-result-container .result-item-text {
	background-color: #f0f0f0;
    	border-radius: 24px 8px;
    	padding: 24px;
    	margin-left: 64px;
}
prm-locations > div:first-child, prm-location-items > div:nth-of-type(2) {
	border-radius: 24px 8px;
    	padding: 16px;
}

/* Column */
.layout-column>.flex-md-25, .flex-md-25, .layout-row>.flex-md-25 {
	background-color: #f0f0f0;
        border-radius: 24px 8px;
        padding: 24px 24px 8px 0px;
        margin: 8px;
	height: fit-content;
}
prm-full-view .services-index-under #services-index {
	background-color: #f0f0f0;
    	border-radius: 24px 8px;
    	padding: 8px;
    	margin-block: 48px ! IMPORTANT;
}


}

/* Side */
prm-facet-group>div:first-child {
	border-radius: 24px 8px;
	border: none;
}

/* Header */
.prm-secondary-color, prm-search-bookmark-filter .md-button, prm-topbar .top-nav-bar {
	padding: 8px;
}
.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1, prm-atoz-search-bar.prm-hue1, prm-browse-search-bar.prm-hue1, prm-tags-search-bar.prm-hue1 {
	border-radius: 24px 8px;
	margin: 8px
}
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-atoz-search-bar, prm-browse-search-bar, prm-tags-search-bar {
	border-radius: 24px 8px;
    	margin: 16px 8px 8px 8px;
}
#banner {
	height: 64px;
}
.prm-background.prm-hue1, html.prm-hue1, body.prm-hue1, .prm-horizontal-content .horizontal-content-control, .prm-horizontal-content .horizontal-content-control:hover, prm-search .prm-hue1.ui-blocker, prm-featured-results .horizontal-content-container .prm-hue1.horizontal-content-control, prm-search-bar .simple-search-wrapper .prm-hue1.search-options:after, prm-atoz-search-bar .simple-search-wrapper .prm-hue1.search-options:after, prm-browse-search-bar .simple-search-wrapper .prm-hue1.search-options:after, prm-tags-search-bar .simple-search-wrapper .prm-hue1.search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue1, prm-atoz-search-bar .simple-search-wrapper .search-options md-divider.prm-hue1, prm-browse-search-bar .simple-search-wrapper .search-options md-divider.prm-hue1, prm-tags-search-bar .simple-search-wrapper .search-options md-divider.prm-hue1, .prm-hue1.prm-view-overlay-inner, .full-view-inner-container + .full-view-aside:before, .__xs prm-facet.prm-hue1, .__sm prm-facet.prm-hue1, .__sm .prm-hue1.sidebar, .__xs .prm-hue1.sidebar, .multiselect-submit .prm-hue1.multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue1.pin-button, prm-full-view-cont .prm-hue1.recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon.prm-hue1, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue1, md-dialog md-toolbar.prm-hue1:not(.md-menu-toolbar), .default-tabs[md-border-bottom] > md-tabs-wrapper, md-card .prm-hue1.card-content-block, md-card .card-divider, md-toolbar.default-toolbar, md-toolbar.md-primoExplore-theme.default-toolbar, md-toolbar.default-toolbar:not(.md-menu-toolbar) {
	background-color: #f0f0f0c0;
    	border-radius: 24px 8px;
    	margin: 8px !important;
    	backdrop-filter: blur(32px);
	width: -webkit-fill-available;
}


/* Search */
prm-atoz-search-bar .search-element-inner, prm-browse-search-bar .search-element-inner, prm-newspapers-search-bar .search-element-inner, prm-search-bar .search-element-inner, prm-tags-search-bar .search-element-inner {
	border-radius: 24px 8px;
	background-color: #f0f0f0;
}
.flex, .flex-grow {
	background-color: transparent;
}

/* Button */
.md-button {
	border-radius: 16px 8px ! IMPORTANT;
    	padding-inline: 8px;
}

/* Alert */
.alert-bar {
	margin: 8px;
    	border-radius: 24px 8px !important;
}