
/* Main */
panel, menupopup {
	--panel-border-radius: 16px 8px !important;
}
menupopup > menu > menupopup {
	backdrop-filter: blur(16px) !important;
}

/* Border */
:root {
	--uc-contextmenu-border-radius: 16px 8px !important;
	--uc-contextmenu-menuitem-border-radius: 16px 8px !important;
	--arrowpanel-border-radius: 16px 8px !important;
	--uc-contextmenu-menuitem-backdrop-filter: blur(16px) !important;
}
.addon-banner-item, .panel-banner-item {
	border-radius: 16px 8px !important;
}

tooltip {
  writing-mode: vertical-rl;
  border-radius: 16px 8px !important;
}